script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js')
script(type='text/javascript', src='../js/script.js')
