meta(charset='utf-8')
meta(http-equiv='x-ua-compatible', content='ie=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
title #{site.title}
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js', type='text/css', media='all')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', type='text/css', media='all')
link(rel='stylesheet', href='../css/main.css', type='text/css', media='all')
