-
  var site = {
    title: 'Medium theme - share stories',
    url: 'mediumm.dev',
    year: '2017',
  }

  // used on
  // - footer
  var recentEntries = [
    'Scheduled',
    'More tag',
    'Dummy sticky 2',
    'Dummy sticky 1',
  ]

  // used on
  // - sidebar
  var metas = [
    'Log in',
    'Entries RSS',
    'Comments RSS',
    'WordPress.org',
  ]

  // used on
  // - author page
  var author = {
    name: 'Nathachai Thongniran',
    image: '../image/author-avatar.jpeg',
    desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia in, eum, quisquam nihil maxime atque eos neque odio natus doloremque beatae consectetur quaerat, earum, aut non laudantium! Tempora, voluptatibus, numquam.',
  }

  // used on
  // - page
  var page = {
    title: 'About',
    featuredImage: '../image/featured-image.jpg',
    content: '<p><a title="WP Test - The Best Tests For WordPress" href="http://wptest.io" target="_blank">WP Test</a> is a fantastically exhaustive set of test data to measure the integrity of your plugins and themes. </p><p>The foundation of these tests are derived from <a title="Theme Unit Test" href="http://codex.wordpress.org/Theme_Unit_Test" target="_blank">WordPress Theme Unit Test Codex</a> data. It’s paired with lessons learned from over three years of theme and plugin support, and baffling corner cases, to create a potent cocktail of simulated, quirky user content.</p><p>The word "comprehensive" was purposely left off this description. Its not. There will always be something new squarely scenario to test. Thats where you come in. <a title="Contact" href="http://wptest.io/contact/">Let us know</a> of a test we are not covering. We would love to squash it.</p><p>Lets make WordPress testing easier and resilient together.</p>',
  }

  // used on
  // - sidebar
  var categories = [
    {
      name: 'Alignment',
    },
    {
      name: 'Aside',
    },
    {
      name: 'Audio',
    },
    {
      name: 'Captions',
    },
    {
      name: 'Comments',
    },
    {
      name: 'Embeds',
    },
    {
      name: 'Gallery',
    },
    {
      name: 'Parent Category',
      child: [
        {
          name: 'Child Category 01',
        },
        {
          name: 'Child Category 02',
        },
        {
          name: 'Child Category 03',
          child: [
            {
              name: 'Grandchild Category',
            }
          ]
        },
        {
          name: 'Child Category 04',
        },
      ]
    },
    {
      name: 'Shortcodes',
    },
    {
      name: 'Trackbacks',
    },
  ]
  
  var menus = [
    {
      name: 'Home',
    },
    {
      name: 'About',
    },
    {
      name: 'Pages',
      child: [
        {
          name: 'Page Image Alignment',
        },
        {
          name: 'Page Markup And Formatting',
        },
      ]
    },
    {
      name: 'Categories',
      child: [
        {
          name: 'Alignment',
        },
        {
          name: 'Comments',
        },
        {
          name: 'Formatting',
        }
      ]
    },
    {
      name: 'Depth',
      child: [
        {
          name: 'Level 01',
          child: [
            {
              name: 'Level 02',
              child: [
                {
                  name: 'Level 03',
                  child: [
                    {
                      name: 'Level 04',
                      child: [
                        {
                          name: 'Level 05',
                          child: [
                            {
                              name: 'Level 06',
                              child: [
                                {
                                  name: 'Level 07',
                                  child: [
                                    {
                                      name: 'Level 08',
                                    }
                                  ]
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    },
    {
      name: 'Animal',
      child: [
        {
          name: 'Wing',
          child: [
            {
              name: 'Bird',
              child: [
                {
                  name: 'Owl',
                },
                {
                  name: 'Eagle',
                }
              ],
            },
            {
              name: 'Chicken',
            },
          ],
        },
        {
          name: 'Cat',
          child: [
            {
              name: 'Persian',
            },
          ],
        },
        {
          name: 'Dog',
          child: [
            {
              name: 'Chihuahua',
            },
            {
              name: 'Boxer',
            },
            {
              name: 'Golden',
            }
          ],
        },
      ],
    },
  ]

  // used on
  // - sidebar
  var tags = [
    '8BIT',
    'Articles',
    'dowork',
    'Fail',
    'FTW', 
    'Fun',
    'Love',
    'Mothership',
    'Must Read',
    'Nailed It',
    'Pictures',
    'Success',
    'Swagger',
    'Tags',
    'Unseen',
    'WordPress',
  ]

  var posts = [
    {
      categories: [
        'Content',
        'Lists'
      ],
      author: {
        name: 'Nathachai Thongniran',
        image: '../image/author-avatar.jpeg'
      },
      article: {
        title: 'Nested And Mixed Lists',
        created: 'Mar 15, 2013',
        readMin: 2,
        featuredImage: '../image/featured-image.jpg',
        excerpt: 'Nested and mixed lists are an interesting beast. It’s a corner case to make sure that Lists within lists do not break the ordered list numbering order Your list styles go deep enough Ordered – Unordered – Ordered ordered item ordered item unordered unordered ordered item ordered item ordered item ordered item Ordered – Unordered…',
      }
    },
    {
      categories: [
        'Content',
        'Formatting',
        'Markup'
      ],
      author: {
        name: 'Nathachai Thongniran',
        image: '../image/author-avatar.jpeg'
      },
      article: {
        title: 'Markup And Formatting',
        created: 'Jan 11, 2013',
        readMin: 5,
        featuredImage: '../image/featured-image.jpg',
        excerpt: 'Headings Header one Header two Header three Header four Header five Header six Blockquotes Single line blockquote: Stay hungry. Stay foolish. Multi line blockquote with a cite reference: People think focus means saying yes to the thing you’ve got to focus on. But that’s not what it means at all. It means saying no to…',
      }
    },
    {
      categories: [
        'Content',
        'Alignment',
        'Captions',
        'Images',
        'Link'
      ],
      author: {
        name: 'Nathachai Thongniran',
        image: '../image/author-avatar.jpeg'
      },
      article: {
        title: 'Image Alignment',
        created: 'Jan 10, 2013',
        readMin: 5,
        featuredImage: '',
        excerpt: 'Welcome to image alignment! The best way to demonstrate the ebb and flow of the various image positioning options is to nestle them snuggly among an ocean of words. Grab a paddle and let’s get started. On the topic of alignment, it should be noted that users can choose from the options of None, Left, Right, and Center. In…',
      }
    },
    {
      categories: [
        'Sticky'
      ],
      author: {
        name: 'Nathachai Thongniran',
        image: '../image/author-avatar.jpeg'
      },
      article: {
        title: 'Sticky',
        created: 'Jan 7, 2013',
        readMin: 1,
        featuredImage: '../image/featured-image.jpg',
        excerpt: 'This is a sticky post. There are a few things to verify: The sticky post should be distinctly recognizable in some way in comparison to normal posts. You can style the .sticky class if you are using the post_class() function to generate your post classes, which is a best practice. They should show at the very top…',
      }
    },
    {
      categories: [
        'Content'
      ],
      author: {
        name: 'Nathachai Thongniran',
        image: '../image/author-avatar.jpeg'
      },
      article: {
        title: 'No Content',
        created: 'Jan 6, 2013',
        readMin: 0,
        featuredImage: '',
        excerpt: '',
      }
    },
    {
      categories: [
        'Comments',
        'Content',
        'Titles'
      ],
      author: {
        name: 'Nathachai Thongniran',
        image: '../image/author-avatar.jpeg'
      },
      article: {
        title: 'Super/Duper/Long/NonBreaking/Path/Name/To/A/File/That/Is/Way/Deep/Down/In/Some/Mysterious/Remote/Desolate/Part/Of/The/Operating/System/To/A/File/That/Just/So/Happens/To/Be/Strangely/Named/Supercalifragilisticexpialidocious.txt',
        created: 'Jan 5, 2013',
        readMin: 1,
        featuredImage: '',
        excerpt: 'Super/Duper/Long/NonBreaking/Path/Name/To/A/File/That/Is/Way/Deep/Down/In/Some/Mysterious/Remote/Desolate/Part/Of/The/Operating/System/To/A/File/That/Just/So/Happens/To/Be/Strangely/Named/Supercalifragilisticexpialidocious.txt A few things to check for: Non-breaking text in the title, content, and comments should have no adverse effects on layout or functionality. Check the browser window / tab title. If you are a plugin or widget developer, check that this text does not break anything. The following CSS properties will help you support…',
      }
    },
  ]

  // used on
  // - post
  var post = {
    tags: [
      '8BIT',
      'Articles',
      'dowork',
      'Fail',
      'FTW',
      'Fun',
      'Love',
      'Mothership',
      'Must Read',
      'Nailed It',
      'Pictures',
      'Success',
      'Swagger',
      'Tags',
      'Unseen',
      'WordPress',
    ],
    author: {
      name: 'Nathachai Thongniran',
      image: '../image/author-avatar.jpeg'
    },
    article: {
      title: 'Image Alignment & Comment',
      created: 'Jan 10, 2013',
      readMin: 6,
      featuredImage: '../image/featured-image.jpg',
      content: '<p>Welcome to image alignment! The best way to demonstrate the ebb and flow of the various image positioning options is to nestle them snuggly among an ocean of words. Grab a paddle and let&#8217;s get started.</p><p>On the topic of alignment, it should be noted that users can choose from the options of <em>None</em>, <em>Left</em>, <em>Right, </em>and <em>Center</em>. In addition, they also get the options of <em>Thumbnail</em>, <em>Medium</em>, <em>Large</em> &amp; <em>Fullsize</em>.</p><p style="text-align: center;"><img class="size-full wp-image-906 aligncenter" title="Image Alignment 580x300" alt="Image Alignment 580x300" src="../image/featured-image.jpg" width="580" height="300" /></p><p>The image above happens to be <em><strong>centered</strong></em>.</p><p><strong><img class="size-full wp-image-904 alignleft" title="Image Alignment 150x150" alt="Image Alignment 150x150" src="../image/featured-image.jpg" width="150" height="150" /></strong>The rest of this paragraph is filler for the sake of seeing the text wrap around the 150&#215;150 image, which is <em><strong>left aligned</strong></em>. <strong></strong></p><p>As you can see the should be some space above, below, and to the right of the image. The text should not be creeping on the image. Creeping is just not right. Images need breathing room too. Let them speak like you words. Let them do their jobs without any hassle from the text. In about one more sentence here, we&#8217;ll see that the text moves from the right of the image down below the image in seamless transition. Again, letting the do it&#8217;s thang. Mission accomplished!</p><p>And now for a <em><strong>massively large image</strong></em>. It also has <em><strong>no alignment</strong></em>.</p><p><img class="alignnone  wp-image-907" title="Image Alignment 1200x400" alt="Image Alignment 1200x400" src="../image/featured-image.jpg" width="1200" height="400" /></p><p>The image above, though 1200px wide, should not overflow the content area. It should remain contained with no visible disruption to the flow of content.</p><p><img class="size-full wp-image-905 alignright" title="Image Alignment 300x200" alt="Image Alignment 300x200" src="../image/featured-image.jpg" width="300" height="200" /></p><p>And now we&#8217;re going to shift things to the <em><strong>right align</strong></em>. Again, there should be plenty of room above, below, and to the left of the image. Just look at him there&#8230; Hey guy! Way to rock that right side. I don&#8217;t care what the left aligned image says, you look great. Don&#8217;t let anyone else tell you differently.</p><p>In just a bit here, you should see the text start to wrap below the right aligned image and settle in nicely. There should still be plenty of room and everything should be sitting pretty. Yeah&#8230; Just like that. It never felt so good to be right.</p><p>And just when you thought we were done, we&#8217;re going to do them all over again with captions!</p><figure id="attachment_906" style="width: 580px" class="wp-caption aligncenter"><img class="size-full wp-image-906  " title="Image Alignment 580x300" alt="Image Alignment 580x300" src="../image/featured-image.jpg" width="580" height="300" /><figcaption class="wp-caption-text">Look at 580&#215;300 getting some <a title="Image Settings" href="http://en.support.wordpress.com/images/image-settings/">caption</a> love.</figcaption></figure><p>The image above happens to be <em><strong>centered</strong></em>. The caption also has a link in it, just to see if it does anything funky.</p><figure id="attachment_904" style="width: 150px" class="wp-caption alignleft"><img class="size-full wp-image-904  " title="Image Alignment 150x150" alt="Image Alignment 150x150" src="../image/featured-image.jpg" width="150" height="150" /><figcaption class="wp-caption-text">Itty-bitty caption.</figcaption></figure><p><strong></strong>The rest of this paragraph is filler for the sake of seeing the text wrap around the 150&#215;150 image, which is <em><strong>left aligned</strong></em>. <strong></strong></p><p>As you can see the should be some space above, below, and to the right of the image. The text should not be creeping on the image. Creeping is just not right. Images need breathing room too. Let them speak like you words. Let them do their jobs without any hassle from the text. In about one more sentence here, we&#8217;ll see that the text moves from the right of the image down below the image in seamless transition. Again, letting the do it&#8217;s thang. Mission accomplished!</p><p>And now for a <em><strong>massively large image</strong></em>. It also has <em><strong>no alignment</strong></em>.</p><figure id="attachment_907" style="width: 1200px" class="wp-caption alignnone"><img class=" wp-image-907" title="Image Alignment 1200x400" alt="Image Alignment 1200x400" src="../image/featured-image.jpg" width="1200" height="400" /><figcaption class="wp-caption-text">Massive image comment for your eyeballs.</figcaption></figure><p>The image above, though 1200px wide, should not overflow the content area. It should remain contained with no visible disruption to the flow of content.</p><figure id="attachment_905" style="width: 300px" class="wp-caption alignright"><img class="size-full wp-image-905 " title="Image Alignment 300x200" alt="Image Alignment 300x200" src="../image/featured-image.jpg" width="300" height="200" /><figcaption class="wp-caption-text">Feels good to be right all the time.</figcaption></figure><p>And now we&#8217;re going to shift things to the <em><strong>right align</strong></em>. Again, there should be plenty of room above, below, and to the left of the image. Just look at him there&#8230; Hey guy! Way to rock that right side. I don&#8217;t care what the left aligned image says, you look great. Don&#8217;t let anyone else tell you differently.</p><p>In just a bit here, you should see the text start to wrap below the right aligned image and settle in nicely. There should still be plenty of room and everything should be sitting pretty. Yeah&#8230; Just like that. It never felt so good to be right.</p><p>And that&#8217;s a wrap, yo! You survived the tumultuous waters of alignment. Image alignment achievement unlocked!</p>',
    },
    comments: [
      {
        content: '<h2>Headings</h2><h1>Header one</h1><h2>Header two</h2><h3>Header three</h3><h4>Header four</h4><h5>Header five</h5><h6>Header six</h6><h2>Blockquotes</h2><p>Single line blockquote:</p><blockquote><p>Stay hungry. Stay foolish.</p></blockquote><p>Multi line blockquote with a cite reference:</p><blockquote><p>People think focus means saying yes to the thing you’ve got to focus on. But that’s not what it means at all. It means saying no to the hundred other good ideas that there are. You have to pick carefully. I’m actually as proud of the things we haven’t done as the things I have done. Innovation is saying no to 1,000 things. <cite>Steve Jobs – Apple Worldwide Developers’ Conference, 1997</cite></p></blockquote><h2>Tables</h2><table><tbody><tr><th>Employee</th><th class="views">Salary</th><th></th></tr><tr class="odd"><td><a href="http://john.do/" rel="nofollow">John Saddington</a></td><td>$1</td><td>Because that’s all Steve Job’ needed for a salary.</td></tr><tr class="even"><td><a href="http://tommcfarlin.com/" rel="nofollow">Tom McFarlin</a></td><td>$100K</td><td>For all the blogging he does.</td></tr><tr class="odd"><td><a href="http://jarederickson.com/" rel="nofollow">Jared Erickson</a></td><td>$100M</td><td>Pictures are worth a thousand words, right? So Tom x 1,000.</td></tr><tr class="even"><td><a href="http://chrisam.es/" rel="nofollow">Chris Ames</a></td><td>$100B</td><td>With hair like that?! Enough said…</td></tr></tbody></table><h2>Definition Lists</h2><dl><dt>Definition List Title</dt><dd>Definition list division.</dd><dt>Startup</dt><dd>A startup company or startup is a company or temporary organization designed to search for a repeatable and scalable business model.</dd><dt>#dowork</dt><dd>Coined by Rob Dyrdek and his personal body guard Christopher “Big Black” Boykins, “Do Work” works as a self motivator, to motivating your friends.</dd><dt>Do It Live</dt><dd>I’ll let Bill O’Reilly will <a href="https://www.youtube.com/watch?v=O_HyZ5aW76c" title="We will Do It Live" rel="nofollow">explain</a> this one.</dd></dl><h2>Unordered Lists (Nested)</h2><ul><li>List item one<ul><li>List item one<ul><li>List item one</li><li>List item two</li><li>List item three</li><li>List item four</li></ul></li><li>List item two</li><li>List item three</li><li>List item four</li></ul></li><li>List item two</li><li>List item three</li><li>List item four</li></ul><h2>Ordered List (Nested)</h2><ol><li>List item one<ol><li>List item one<ol><li>List item one</li><li>List item two</li><li>List item three</li><li>List item four</li></ol></li><li>List item two</li><li>List item three</li><li>List item four</li></ol></li><li>List item two</li><li>List item three</li><li>List item four</li></ol><h2>HTML Tags</h2><p>These supported tags come from the WordPress.com code <a href="http://en.support.wordpress.com/code/" title="Code" rel="nofollow">FAQ</a>.</p><p><strong>Address Tag</strong></p><address>1 Infinite Loop<br>Cupertino, CA 95014<br>United States<br></address><p><strong>Anchor Tag (aka. Link)</strong></p><p>This is an example of a <a href="http://apple.com" title="Apple" rel="nofollow">link</a>.</p><p><strong>Abbreviation Tag</strong></p><p>The abbreviation <abbr title="Seriously">srsly</abbr> stands for “seriously”.</p><p><strong>Acronym Tag</strong></p><p>The acronym <acronym title="For The Win">ftw</acronym> stands for “for the win”.</p><p><strong>Big Tag</strong></p><p>These tests are a <big>big</big> deal, but this tag is no longer supported in HTML5.</p><p><strong>Cite Tag</strong></p><p>“Code is poetry.” —<cite>Automattic</cite></p><p><strong>Code Tag</strong></p><p>You will learn later on in these tests that <code>word-wrap: break-word;</code> will be your best friend.</p><p><strong>Delete Tag</strong></p><p>This tag will let you <del>strikeout text</del>, but this tag is no longer supported in HTML5 (use the <code>&lt;strike&gt;</code> instead).</p><p><strong>Emphasize Tag</strong></p><p>The emphasize tag should <em>italicize</em> text.</p><p><strong>Insert Tag</strong></p><p>This tag should denote <ins>inserted</ins> text.</p><p><strong>Keyboard Tag</strong></p><p>This scarsly known tag emulates <kbd>keyboard text</kbd>, which is usually styled like the <code>&lt;code&gt;</code> tag.</p><p><strong>Preformatted Tag</strong></p><p>This tag styles large blocks of code.</p><pre>.post-title {	margin: 0 0 5px;	font-weight: bold;	font-size: 38px;	line-height: 1.2;}</pre><p><strong>Quote Tag</strong></p><p><q>Developers, developers, developers…</q> –Steve Ballmer</p><p><strong>Strong Tag</strong></p><p>This tag shows <strong>bold</strong><strong> text.</strong></p><strong></strong><p><strong></strong><strong>Subscript Tag</strong></p><p>Getting our science styling on with H<sub>2</sub>O, which should push the “2” down.</p><p><strong>Superscript Tag</strong></p><p>Still sticking with science and Albert Einstein’s E = MC<sup>2</sup>, which should lift the “2” up.</p><p><strong>Teletype Tag</strong></p><p>This rarely used tag emulates <tt>teletype text</tt>, which is usually styled like the <code>&lt;code&gt;</code> tag.</p><p><strong>Variable Tag</strong></p><p>This allows you to denote <var>variables</var>.</p>',
      },
      {
        content: '<p>There are a few checklist items that should be in each comment.</p><ul><li>The commenter’s <strong>gravatar</strong>. Optional, but a best practice. Use get_comment_author_email.</li><li>The commenter’s <strong>name</strong>. Use <a href="http://codex.wordpress.org/Function_Reference/comment_author" title="Comment Author" rel="nofollow">comment_author</a>.</li><li>The commenter’s <strong>URL</strong>. Usually applied as a link to the commenter’s name. Use <a href="http://codex.wordpress.org/Function_Reference/comment_author_url" title="Comment Author URL" rel="nofollow">comment_author_url</a></li><li>The <strong>date / time</strong> the comment was made. Use <a href="http://codex.wordpress.org/Function_Reference/get_comment_date" title="Get Comment Date" rel="nofollow">get_comment_date</a>.</li><li>A <strong>permalink</strong> to the comment. Usually applied as a link to the date / time of the comment. Use <a href="http://codex.wordpress.org/Function_Reference/get_comment_link" title="Get Comment Link" rel="nofollow">get_comment_link</a></li><li>Indication of a <strong>comment left by the post author</strong>. Style the <code>.bypostauthor</code> class.</li><li>The <strong>comment text</strong>. Use <a href="http://codex.wordpress.org/Function_Reference/comment_text" title="Comment Text" rel="nofollow">comment_text</a>.</li><li>An <strong>edit</strong> comment link. Use <a href="http://codex.wordpress.org/Function_Reference/edit_comment_link" title="Edit Comment Link" rel="nofollow">edit_comment_link</a>.</li><li>A comment <strong>reply</strong> link. Used for threaded comments. Use <a href="http://codex.wordpress.org/Function_Reference/comment_reply_link" title="Comment Reply Link" rel="nofollow">comment_reply_link</a>.</li></ul>',
      },
      {
        content: "<pre>.post-title { margin: 0 0 5px;	font-weight: bold;	font-size: 38px;	line-height: 1.2;}</pre>",
      },
      {
        content: '<p>This user it trying to be anonymous.</p><ul><li>They used a fake email, so there should be no <a href="http://gravatar.com/" title="Gravatar" rel="nofollow">Gravatar</a> associated with it.</li><li>They did not speify a website, so there should be no link to it in the comment.</li></ul>',
      },
      {
        content: '<p>Comment Depth 01</p>',
        child: [
          {
            content: '<p>Comment Depth 02</p>',
            child: [
              {
                content: '<p>Comment Depth 03</p>',
                child: [
                  {
                    content: '<p>Comment Depth 04</p>',
                    child: [
                      {
                        content: '<p>Comment Depth 05</p>',
                      },
                      {
                        content: '<p>Comment Depth 05</p>',
                      },
                      {
                        content: '<p>Comment Depth 05</p>',
                      },
                    ]
                  }
                ]
              }
            ]
          }
        ]
      },
      {
        content: '<p>Video comment.</p><p><iframe width="640" height="360" src="https://www.youtube.com/embed/9bZkp7q19f0" frameborder="0" allowfullscreen=""></iframe></p>',
      }
    ]
  }
