extends includes/layout.pug

block var
  -
    var hasSidebar = true
    var bodyClass = 'category'

block content
  .page-header
    h1 Category: Content

  each post in posts
    +post(post)

  +paginated()
