extends includes/layout.pug

block var
  -
    var hasSidebar = true
    var bodyClass = 'home'

block content
  each post in posts
    +post(
      post.categories,
      post.author.image,
      post.author.name,
      post.article.created,
      post.article.readMin,
      post.article.title,
      post.article.featuredImage,
      post.article.excerpt
    )

  +paginated()
